<link rel="stylesheet" href="/styles/profile.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

<div id="profile-page">
   <div id="side-bar">
    		{{!-- <img src="../images/long-plant.png" class="long-plant" alt="long plant Photo"/> --}}
    	      <div id="sidebar-container">
               <h1>Name</h1>
               <img src="../../images/farmer.png" class="profile-photo" alt="Photo"/>
               <h2 id="favorites"><a>Favorites</a></h2>
               <h2 id="edit"><a>Edit Profile</a></h2>
               <h2 id="logout"><a>Logout</a></h2>	  
              </div>
   </div>
   <div class="main-page">
        <h1>Explore agricultural businesses in the region</h1>
        <div id="filter-box">
            <div class="dropdown">
                <button class="dropbtn"><img src="../../images/edit.png" class="edit-photo" alt="Photo"/></button>
                <div class="dropdown-content">
                {{#each data.regions}}
                    <a href="/profile?region={{this}}">{{this}}</a>
                {{/each}}
            </div>
        </div>
        <div id="filter-text">filter by region</div>
</div>   
        <div class="container-box">
         <ul id="business-listing">
            {{#each data.businessList}}
            <li>
                <div id="business-card">
                    <img src="../../images/tractor.png" class="tractor-image" alt="tractor"/>
                    {{!-- <h3>{{businessInfo.businessName}}</h3> --}}
                    <h3 id="business-name">{{this.businessName}}</h3>
                    <h4 id="business-region">{{this.region}}</h4>
                    <h4 id="details"><a href="/profile/business/{{this._id}}">business details</a></h4>
                </div>
            </li>
            {{/each }}
            <div class="pagination">
                <a id="previous-page" href="#">&laquo;</a>
                    <a id="next-page" href="#">&raquo;</a>
            </div>
        </ul>
    </div>
   </div> 
   </div>
   <script>
       var businessCount = "{{data.businessCount}}"
   </script>
   <script src="/scripts/profile.js"></script>
