<link rel="stylesheet" href="/styles/favorites.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

<div id="profile-page">
   <div id="side-bar">
    		{{!-- <img src="../images/long-plant.png" class="long-plant" alt="long plant Photo"/> --}}
    	      <div id="sidebar-container">
               <h1>Name</h1>
               <img src="../../images/farmer.png" class="profile-photo" alt="Photo"/>
               <h2 id="explore"><a>Explore</a></h2>
               <h2 id="favorites"><a>Favorites</a></h2>
               <h2 id="edit"><a>Edit Profile</a></h2>
               <h2 id="logout"><a>Logout</a></h2>	  
              </div>
   </div>
   <div class="main-page">
        <h1>Listings that you liked</h1>  
        <div class="container-box">
         <ul id="business-listing">
            {{#each favoritesList}}
            <li>
                <div id="business-card">
                    <form id="delete-img" method="POST" action="/profile/favorites?operation=delete">
                        <input type="hidden" name="businessId" value="{{this._id}}"/>
                        <a onclick="this.parentNode.submit()">remove</a> 
                    </form>
                    <img src="../../images/tractor.png" class="tractor-image" alt="tractor"/>
                    {{!-- <h3>{{businessInfo.businessName}}</h3> --}}
                    <h3 id="business-name">{{this.businessName}}</h3>
                    <div id="region-detail">
                        <h4 id="business-region">{{this.region}}</h4>
                        <h4 id="details"><a href="/profile/business/{{this._id}}">business details</a></h4>
                    </div>
                </div>
            </li>
            {{/each }}
        </ul>
    </div>
   </div> 
   </div>
   <script src="/scripts/favorites.js"></script>